{%- if theme.zchat.enable %}
  <a style="position: fixed;bottom: 2px;left: 2px;background-image: transparent; border-width: 2px!important; border-left-style: 2px solid black;" href="javascript:show()">Open Chat</a>
  <html><head>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <style type="text/css">
          #login
          {
              display:none;
              border:2px solid #BBBBBB;
              /*opacity: 1;*/
              /*overflow-y: auto;*/
              width:50%;
              height: 100%;
              position:absolute;/*让节点脱离文档流,我的理解就是,从页面上浮出来,不再按照文档其它内容布局*/
              right:0px;
              top: 0px;
              z-index:2;/*个人理解为层级关系,由于这个节点要在顶部显示,所以这个值比其余节点的都大*/
              background: rgba(250,250,250,0.7);
              transform: translateY(10);
              box-shadow: 7px 7px 10px 7px grey;
              transition-property: display;
              transition-duration: 2s 1ms;
          }
          #over
          {
              width: 100%;
              height: 100%;
              filter:alpha(opacity=80);
              display: none;
              position:absolute;
              top:0;
              left:0;
              z-index:1;
              /*background: silver;*/
          }
          :root{
            --waline-border: 1px solid black;
          }
      </style>
  </head>
  <body>
  <div id="login" style="display: none;">
      <button onclick="hide()" style="position: relative;top: 3px;right: -46%!important;border-width: 0px;"><i class="fa fa-window-close fa-2x" aria-hidden="true"></i></button>
      <head>
      <!-- ... -->
      <!-- 脚本文件 -->
      <!--script src="https://unpkg.com/@waline/client@v2/dist/waline.js"></script-->
      <script src="js/waline.js"></script>
      <!--link
        rel="stylesheet"
        href="https://unpkg.com/@waline/client@v2/dist/waline.css"
      /-->
      <link rel="stylesheet" href="css/waline.css"/>
      <!-- ... -->
    </head>
    <body>
      <!-- ... -->
      <div id="waline"></div>
      <script>
        Waline.init({
          el: '#waline',
          serverURL: 'https://chatsys1.ignorelist.com',
          emoji: [
            '//unpkg.com/@waline/emojis@1.1.0/tw-emoji',
            '//unpkg.com/@waline/emojis@1.1.0/bilibili'
          ]
        });
      </script>
    </body>
  </div>
  <div id="over" style="display: none;"></div>

  <script type="text/javascript">
  
      function show()
      {
          var login = document.getElementById('login');
          var over = document.getElementById('over');
          login.style.display = "block";
          over.style.display = "block";
          
      }
      function hide()
      {
          var login = document.getElementById('login');
          var over = document.getElementById('over');
          login.style.display = "none";
          over.style.display = "none";
      }
  </script>
</body></html>
{%- endif %}
{%- if theme.footer.beian.enable %}
  <div class="beian">
    {{- next_url('https://beian.miit.gov.cn', theme.footer.beian.icp + ' ') }}
    {%- if theme.footer.beian.gongan_icon_url %}
      <img src="{{ url_for(theme.footer.beian.gongan_icon_url) }}" alt="">
    {%- endif %}
    {%- if theme.footer.beian.gongan_id and theme.footer.beian.gongan_num %}
      {{- next_url('http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=' + theme.footer.beian.gongan_id, theme.footer.beian.gongan_num + ' ') }}
    {%- endif %}
  </div>
{%- endif %}

<div class="copyright">
  {%- set copyright_year = date(null, 'YYYY') %}
  &copy; {% if theme.footer.since and theme.footer.since != copyright_year %}{{ theme.footer.since }} – {% endif %}
  <span itemprop="copyrightYear">{{ copyright_year }}</span>
  <span class="with-love">
    <i class="{{ theme.footer.icon.name }}"></i>
  </span>
  <span class="author" itemprop="copyrightHolder">{{ theme.footer.copyright or author }}</span>
</div>

{%- if config.symbols_count_time.total_symbols or config.symbols_count_time.total_time %}
<div class="wordcount">
  {%- if config.symbols_count_time.total_symbols %}
  <span class="post-meta-item">
    <span class="post-meta-item-icon">
      <i class="fa fa-chart-line"></i>
    </span>
    {%- if theme.symbols_count_time.item_text_total %}
      <span>{{ __('symbols_count_time.count_total') + __('symbol.colon') }}</span>
    {%- endif %}
    <span title="{{ __('symbols_count_time.count_total') }}">{{ symbolsCountTotal(site) }}</span>
  </span>
  {%- endif %}

  {%- if config.symbols_count_time.total_time %}
  <span class="post-meta-item">
    <span class="post-meta-item-icon">
      <i class="fa fa-coffee"></i>
    </span>
    {%- if theme.symbols_count_time.item_text_total %}
      <span>{{ __('symbols_count_time.time_total') }} &asymp;</span>
    {%- endif %}
    <span title="{{ __('symbols_count_time.time_total') }}">{{ symbolsTimeTotal(site, config.symbols_count_time.awl, config.symbols_count_time.wpm, __('symbols_count_time.time_minutes')) }}</span>
  </span>
  {%- endif %}
</div>
{%- endif %}

{%- if theme.busuanzi_count.enable %}
<div class="busuanzi-count">
  {%- if theme.busuanzi_count.total_visitors %}
    <span class="post-meta-item" id="busuanzi_container_site_uv">
      <span class="post-meta-item-icon">
        <i class="{{ theme.busuanzi_count.total_visitors_icon }}"></i>
      </span>
      <span class="site-uv" title="{{ __('footer.total_visitors') }}">
        <span id="busuanzi_value_site_uv"></span>
      </span>
    </span>
  {%- endif %}

  {%- if theme.busuanzi_count.total_views %}
    <span class="post-meta-item" id="busuanzi_container_site_pv">
      <span class="post-meta-item-icon">
        <i class="{{ theme.busuanzi_count.total_views_icon }}"></i>
      </span>
      <span class="site-pv" title="{{ __('footer.total_views') }}">
        <span id="busuanzi_value_site_pv"></span>
      </span>
    </span>
  {%- endif %}
</div>
{%- endif %}

{%- if theme.footer.powered %}
  <div class="Designed-by">
    {{- __('footer.powered', next_url('https://ginoblog.github.io', 'Ginozhang') + '&nbsp&nbsp&nbsp&nbsp&nbsp&nbspAuthor: ' + next_url("/", 'Class 6-4')+" Theme: NexT") }}
  </div>
{%- endif %}

{%- if theme.add_this_id %}
  <div class="addthis_inline_share_toolbox">
    <script src="//s7.addthis.com/js/300/addthis_widget.js#pubid={{ theme.add_this_id }}" async="async"></script>
  </div>
{%- endif %}

{{- next_inject('footer') }}
